{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/login.css'%}">
    <title>Login Page</title>
</head>
<body>
    <div class="login" style="background-image: url({% static "assets/bg-image.png" %}); 
    width:100%; 
    background-size: cover; 
    background-position: center;
     background-repeat: no-repeat;">
        <div class="loginWrapper">
            <div class="loginLeft">
                <h3 class="loginLogo">BuddiNet.</h3>
                <span class="loginDesc">Connect with friends and the world around you on BuddiNet.</span>
            </div>
            <div class="loginRight">
                
                <div>
                    <style>
                        h5{
                           color: red; 
                        }
                    </style>
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                </div>
            

                <form action="{% url 'login' %}" method="POST">

                    {% csrf_token %}

                    
                
                    <div class="loginBox">
                    <input type = "text" name= "username" placeholder="Username" class="loginInput" />
                    <input type="password" name="password" placeholder="Password" class="loginInput" />
                    <button class="loginButton"><a>Log In</a></button>
                    <button class="loginRegisterButton"><a href="/signup">Create a New Account</a></button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</body>
</html>
