{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <title>BuddiNet - Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'assets/css/newsfeed.css'%}">
    <script src="{% static 'assets/js/newsfeed.js'%}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
</head>

<body>
    <nav>
        <form action="search" method="POST">
            {% csrf_token %}
            <div class="container">
                <h2 class="logo">BuddiNet.</h2>
                <div class="search-bar">
                    <input type="search" name="username" placeholder="Search for Users" />
                    <button class="btn" type="submit"><i class="uil uil-search"></i></button>
                </div>
                <div class="create">
                    <div class="profile-pic">
                        <img src="{% static 'assets/blank-profile-pic.png' %}" alt="p" />
                    </div>
                </div>
            </div>
        </form>
    </nav>

    <main>
        <div class="container">
            <div class="left">
                <a class="profile">
                    <div class="profile-pic">
                        <img src="{% static 'assets/blank-profile-pic.png' %}">
                    </div>
                    <div class="handle">
                        <h4>{{user_profile.user.username}}</h4>
                        <p class="text-muted">BuddiNet.</p>
                    </div>
                </a>
                <div class="sidebar">
                    <a class="menu-item active">
                        <span><i class="uil uil-home"></i></span>
                        <h3>Home</h3>
                    </a>
                    <a class="menu-item " href="{% url 'profile' pk=user_profile.user.username %}">
                        <span><i class="fa fa-user" aria-hidden="true"></i></span>
                        <h3>Profile</h3>
                    </a>
                    <a class="menu-item" href='logout'>
                        <span><i class="fas fa-sign-out-alt"></i></span>
                        <h3>Logout</h3>
                    </a>

                    </a>
                </div>
            </div>



            <div class="middle">
                <form action="upload" method="POST" class="create-post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="profile-pic">
                        <img src="" alt="">
                    </div>
                    <input type="text" placeholder="What's on your mind {{user_profile.user.username}}?"
                        id="create-post" name="text">
                    <input type="file" name="image" id="post-image-input" style="display: none;">
                    <label for="post-image-input" class="btn btn-primary" id="post-image">Image</label>
                    <input type="submit" value="Post" class="btn btn-primary">
                </form>

                {%for post in posts reversed%}
                <div class="feeds">
                    <div class="feed">
                        <div class="head">

                        </div>
                        <div class="user">
                            <div class="profile-pic">
                                <img src="{% static 'assets/blank-profile-pic.png' %}" alt="">
                            </div>
                            <div class="info">
                                <h3><a href="{% url 'profile' pk=post.user.username %}">{{ post.user }}</a></h3>
                                <small>{{post.created_at}}</small>
                            </div>
                            <SPAN class="edit"><i class="uil uil-ellipsis-h"></i></SPAN>
                        </div>

                        <div class="photo">
                            <img src="{{post.image.url}}" alt="">
                        </div>

                        <div class="action-button">
                            <div class="interaction-button">
                                <a href="/like_post?post_id={{post.id}}" class="button"><i
                                        class="uil uil-thumbs-up"></i></a>
                                <a href="/comments_post?post_id={{post.id}}" class="button"><i class="uil uil-comment"></i></a>
                            </div>
                            <div class="bookmark">
                                <a href="#" class="button"><i class="uil uil-share"></i></a>
                            </div>
                        </div>

                        <div class="liked-by">

                            {% if post.no_of_likes == 0%}
                            <p><b>0 Likes</b></p>
                            {% elif post.no_of_likes == 1 %}
                            <p><b>1 Like</b></p>
                            {% else %}
                            <p><b>{{post.no_of_likes}} Likes</b></p>
                            {% endif %}


                        </div>

                        <div class="caption">
                            <p><b><a href="{% url 'profile' pk=post.user.username %}">{{ post.user }}</a></b>
                                {{post.text}}
                        </div>

                        <form action="comments_post" method="POST">
                        {% csrf_token %}   
                        <div class="feeds feed user middle" style="border: 2px solid grey;border-radius: 40px;">
                            <input type="hidden" name="post_id" value="{{ post.id }}">

                            <input type="text" placeholder="Write a comment {{user_profile.user.username}}?"
                                id="create-post" name="text" style="width: 90%;">
                            <input type="submit" value="Post" class="btn btm-small" style="margin-left: 220px;">
                        </div>
                        
                        {% for comm in comments_post %}
                        <div class="caption">
                                <div class="caption" style="border: 2px solid grey; border-radius: 10px; padding: 10px; margin-top: 5px;">
                                    <p><b><a href="{% url 'profile' pk=comm.username %}">{{ comm.username }}</a></b> {{ comm.text }}</p>
                                </div> 
                        </div>  
                        {% endfor %} 
                        </form>
                        
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="right">
                <div class="friend-requests">
                    <h4>Suggestions</h4>
                    {% for sugg in suggestions_list %}
                    <div class="request">
                        <div class="info">
                            <div class="profile-pic">
                                <img src="{% static 'assets/blank-profile-pic.png' %}">
                            </div>
                            <div>
                                <h5>{{sugg.user}}</h5>
                                <p class="text-muted">BuddiNet User.</p>

                            </div>
                        </div>
                        <div class="action" style="align-items: center; justify-content: center;">
                            
                            <button class="btn"><a href="/profile/{{sugg.user}}" style="align-items: center; justify-content: center;">View Profile</a></button>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                
    </main>

</body>

</html>